.App .content_container {
  text-align: left;
  display: flex;
  justify-content: space-evenly;
  top: 6em;
  position: absolute;
  margin-left: calc(50vw - 30em);
  @media print {
    top: 0;
    left: 0;
    margin: 0;
  }
}

.App_header {
  height: 100vh;
  font-size: calc(10px + 2vmin);
}

.App_header h1 {
  position: absolute;
  top: calc(50vh - 3em);
  width: 100%;
  text-align: center;
  transition: all .5s;
}

.App_header_navbar {
  position: fixed;
  width: 100%;
  min-height: 3em;
  height: 7em;
  font-size: 0.8em;
  background: white;
  z-index: 1000;
  border-bottom: #eee solid thin;
  box-shadow: #eee 0px 0px 4px;
}

.App_header_navbar h1 {
  position: absolute;
  top: 1em;
  left: 21px;
  transform: translateX(0%);
  text-align: left;
  margin: 0;
  padding: 0;
}

/* override styles when printing */
@media print {
  .App_header {
    display: none;
  }
}
